name: Tunnel DB
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

env:
  REPO_OWNER: ${{ github.repository_owner }}
  GH_USER: khulnasoft-bot
  VERSION: 2

jobs:
  build:
    name: Build DB
    runs-on: ubuntu-24.04
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@v10
        with:
          root-reserve-mb: 32768
          remove-android: "true"
          remove-docker-images: "true"
          remove-dotnet: "true"
          remove-haskell: "true"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install bbolt
        run: go install go.etcd.io/bbolt/cmd/bbolt@v1.3.5

      - name: Download vuln-list and advisories
        run: make db-fetch-langs db-fetch-vuln-list

      - name: Build the binary
        run: make build

      - name: Build database
        run: make db-build

      - name: Compact DB
        run: make db-compact

      - name: Compress assets
        run: make db-compress

      - name: Move DB
        run: mv assets/db.tar.gz .

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Login to GitHub Packages Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ env.GH_USER }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install oras
        run: |
          curl -LO https://github.com/oras-project/oras/releases/download/v1.2.0/oras_1.2.0_linux_amd64.tar.gz
          tar -xvf ./oras_1.2.0_linux_amd64.tar.gz
          sudo mv oras /usr/local/bin/

      - name: Upload assets to registries
        run: |
          lowercase_repo=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          echo "Starting artifact upload process..."
          
          declare -A registries=(
            ["ghcr.io"]="${lowercase_repo}"
            ["docker.io"]="${lowercase_repo}"
          )
          
          if [[ "${lowercase_repo}" == "khulnasoft-lab/"* ]]; then
            registries["docker.io"]="khulnasoft/${lowercase_repo#khulnasoft-lab/}"
            echo "Docker Hub repository adjusted for khulnasoft-lab: ${registries["docker.io"]}"
          fi
          
          for registry in "${!registries[@]}"; do
            repo_name=${registries[$registry]}
            full_registry_url="${registry}/${repo_name}"
            echo "Processing registry: ${full_registry_url}"
          
            tags=(latest ${{ env.VERSION }})
            for tag in "${tags[@]}"; do
              echo "Pushing artifact with tag: ${tag}"
          
              if ./oras push --artifact-type application/vnd.khulnasoft.tunnel.config.v1+json \
                "${full_registry_url}:${tag}" \
                db.tar.gz:application/vnd.khulnasoft.tunnel.db.layer.v1.tar+gzip; then
                echo "Successfully pushed to ${full_registry_url}:${tag}"
              else
                echo "Failed to push to ${full_registry_url}:${tag}"
                exit 1
              fi
            done
          done
            
          echo "Artifact upload process completed."
